[submodule "maths"]
	path = maths
	url = git@github.com:jocelinqueau/maths.git
[submodule "notes"]
	path = notes
	url = git@github.com:jocelinqueau/notes.git
[submodule "my-projects"]
	path = my-projects
	url = git@github.com:jocelinqueau/my-projects.git
